<!DOCTYPE html>
<html>
<head>
	<title>weatherApp</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<!--<script type="text/javascript" src="javascript/vendor/jquery-2.1.4.min.js"></script>
	// <script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.js"></script>-->
	<script type="text/javascript" src="javascript/vendor/angular.min.js"></script>
	<script type="text/javascript" src="javascript/weather.js"></script>
</head>
<body ng-app="weatherApp">
	<div ng-controller="mainController">
		<h1>{{forecast.data[0].day}}
		<h1>{{forecast.location}}</h1>
		<img ng-src="{{forecast.data[0].icon}}">
		<p>{{forecast.data[0].weather}}</p>
		<p>{{forecast.data[0].temperature}}&degF</p>
		Zip Code:<input type="text" name="zipCode" ng-model="forecast.zip">
		<button ng-click="search()">Change</button>
		<p>{{forecast.data}}</p>
		<h1>{{forecast.data[1].day}}
		<h1>{{forecast.location}}</h1>
		<img ng-src="{{forecast.data[1].icon}}">
		<p>{{forecast.data[1].weather}}</p>
		<p>{{forecast.data[1].temperature}}&degF</p>
	</div>
	<!-- Modules -->
	<script type="text/javascript" src="javascript/app.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="javascript/controllers/mainController.js"></script>
	<!-- Services -->
	<script type="text/javascript" src="javascript/services/forecast.js"></script>
	<!-- Directives -->
	<script type="text/javascript" src="javascript/directives/forecastData.js"></script>
</body>
</html>