/*current weather*/
body{
	background-color: #5FC5E6;
}
.todaysWeather, .forecastStretch, #footer{
	background-color: white;
}
.todaysWeather{
	border: 2px solid black;
	margin-top:10%;
}
.todaysWeather h4{
	text-align: center;
}
.weatherInline{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*three day forecast*/

.forecastStretch{
/*	display: flex;
	flex-direction: row;
	justify-content: center;*/
}
.threeDayForcast{
/*	border: 1px solid black;
	width: 33.3%;
	display: flex;
	flex-direction: column;*/
}
.threeDayForcast p{
	text-align: center;
}

.threeDayForcast div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*user Input*/
.userInput{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}
.userInput p, .userInput input, .userInput button {
	margin-right: 10px;
	margin-top: auto;
}

/*sticky footer*/
html,
body {
  height: 100%;

}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 120px;
}
#footer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#footer .container img{
	width: 50%;
	margin: auto;
}
#footer .container a{
	text-align: center;
}


/*mobile version*/
@media (max-width: 320px) {
	.forecastStretch{
		flex-direction: column;
	}
	.threeDayForcast{
		width: 100%;
	}
	.userInput input{
		width: 30%;
	}
}




